# Build directories:
build/
build.*/
build-*/
cmake-build-*/

# Build products
*.tgz
*.zip
*.pdf

# Vendored but not tracked:
/dot-cs211

# User-specific CLion (IDEA) settings:
workspace.xml
vcs.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf/
.idea/**/workspace.xml
.idea/**/vcs.xml

# Mac OS Finder configuration:
.DS_Store
