# CMake build directories:
build
build.*
cmake-build-*

# CLion configuration
*/.idea
.idea/*.iml
.idea/encodings.xml
.idea/$CACHE_FILE$
.idea/inspectionProfiles/
.idea/dbnavigator.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/.name
.idea/misc.xml
